body {
  background-color: #2c2c2d;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

.grid-container {
  margin: 0 auto;
  min-height: 36rem;    /* ALTURA MINIMA (NÃO ENCOLHE MAIS DO QUE ISSO) */
                        /* PARA DEFINIR OS TAMANHOS É NECESSARIO DAR (MIN) */
  width: 64rem;

  display: grid;        /* COMEÇAR SEMPRE COM DISPLAY: GRID*/
  gap: 1rem;

  grid-template-rows: 4rem 10rem 10rem 4rem;    /* Define os tamanhos das linhas (nesse caso 4, 10rem)*/

  grid-template-columns: 8rem 1fr 1fr 1fr;      /* Define a quantidade de colunas e os tamanhos (nesse caso 4 colunas) */

  grid-template-areas:   /* (PASSO 1) */
  
  /* 1--> Especificar como vai ficar o site */

    "cabecalho cabecalho cabecalho cabecalho"
    "sidebar   conteudo  conteudo  conteudo"
    "sidebar   conteudo  conteudo  conteudo"
    "sidebar    rodape    rodape    rodape";
}

.item {
  border-radius: .25rem;
  padding: 1rem;
}

.header {       /* (PASSO 2) */

  grid-area: cabecalho;  /* Colocar em cada propríedade quem ela é */
  background-color: #af4c4c;
}

.sidebar {
  grid-area: sidebar;   /* Colocar em cada propríedade quem ela é */
  background-color: #4a66c3;
}

.content {
  grid-area: conteudo;  /* Colocar em cada propríedade quem ela é */
  background-color: #fff643;
  color: #2c2c2d;
}

.footer {
  grid-area: rodape;    /* Colocar em cada propríedade quem ela é */
  background-color: #4f9849;
}